body{
    text-align: center;
}

.container{
    display:flex;
    justify-content: center;
}

.authorInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

.author-container {
    display: flex;
    align-items: flex-start; /* Align items at the start */
}

#authorPic {
    width: 300px;
    height: auto;
    margin-right: 20px; /* Space between image and text */
}
#authorInfo {
    flex: 1; /* Take remaining space*/
}

#flag {
    height: 200px;
    width: auto;
}